@import url("https://fonts.googleapis.com/css2?family=Lato&family=Vidaloka&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  background-color: #7379a8;
  background-image: linear-gradient(to right, #efe6ff, #ebdfff, #e7d9ff, #e2d2ff, #deccff, #cebff3, #beb2e8, #aea5dc, #908fc2, #7379a8, #57648f);
}

p, h2, h3, a, a:active, a:visited {
  font-family: "Lato", sans-serif;
  color: #1b1725;
  font-weight: 700;
}

p {
  padding: 0 2rem 2rem 2rem;
}

img {
  max-width: 100%;
  border-radius: 5px 5px 0 0;
}

hr {
  border: #7379a8 1px solid;
  border-radius: 15px;
}

h1 {
  font-family: "Vidaloka", cursive;
  font-size: 3rem;
  padding: 2rem 0;
}

h2 {
  font-size: 1.2rem;
  letter-spacing: .08em;
  text-transform: uppercase;
  padding: 1.2rem;
}

h3 {
  font-size: 1rem;
  padding-top: 2rem;
}

button {
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  padding: .7rem 1rem;
  margin-bottom: 2rem;
  text-align: center;
  border-radius: 5px;
  border: none;
  text-shadow: none;
  cursor: pointer;
  font-weight: 600;
  color: #EFE6FF;
  background-color: #7379a8;
  border: 2px solid #7379a8;
 }

 button:hover {
  transition: 200ms ease-in-out;
  color: #7379a8;
  background-color: #e7d9ff;
  border: 2px solid #7379a8;
 }

ul {
  display: flex;
  list-style-type: none;
}

a, a:active, a:visited {
  text-decoration: none;
  color: #1b1725;
}

a:hover {
  transition: 200ms;
  color: #7379a8;
}

.gif {
  padding: 0 2rem;
}

.star-toggle {
  color: #fffad9;
}

.star {
  opacity: .6;
}

::-moz-selection {
  background: #3C4F76; 
  color: #EFE6FF;
}
::selection {
  background: #3C4F76;
  color: #EFE6FF;
}

@media only screen and (max-width: 700px) {
  .nav-menu {
    background: #efe6ff;
    border-right: 1px solid #1b1725;
    border-bottom: 1px solid #1b1725;
    top: 0;
    left: -100%;
    transition: 850ms;
    padding-right: 1.6rem;
    position: fixed;
    z-index: 2;
  }
  .nav-menu.active {
    left: 0;
    transition: 500ms;
  }
  .nav-links {
    display: flex;
    flex-direction: column;
    padding-left: 1.4rem;
    padding-bottom: 2rem;
    text-align: left;
  }
  .menu-bars, .menu-exit {
    position: absolute;
    left: 4rem;
  }
  .today {
    max-width: 100%;
  }
}

@media only screen and (min-width: 701px) {
  .menu-bars, .menu-exit {
    display: none;
  }
  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .video {
    height: 500px;
  }
}