@import url("https://fonts.googleapis.com/css2?family=Lato&family=Vidaloka&family=Comfortaa:wght@300;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  background-color: #f5e2e2;
  color: #1b1725;
}

img {
  max-width: 100%;
}

h1 {
  font-family: "Vidaloka", cursive;
  font-size: 3rem;
  padding-bottom: 3rem 0;
}

h2 {
  font-family: "Comfortaa", cursive;
  font-size: 2rem;
  font-weight: 400;
}

button {
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  padding: .8rem;
  text-align: center;
  border-radius: 5px;
  border: none;
  text-shadow: none;
  cursor: pointer;
  font-weight: 600;
  color: #DDDAFF;
  background-color: #1b1725;
 }

 .star-toggle {
  color: #f5e2e2;
}

.star {
  opacity: .3;
}

::-moz-selection {
  background: #fff; 
  color: #1b1725;
}
::selection {
  background: #fff;
  color: #1b1725;
}